* {
    margin: auto;
    padding: 0;
    
}
body {
    background-image: url("../img/imagenFondo.jpg");
    background-size: cover;
}
.container-form {
    margin-bottom: 3%;
    margin-top: 3%;
    width: 50%;
    height: auto;
    border-radius: 5%;
    background-color: rgb(170, 164, 172);
    padding: 3%;
}