* {
    margin: auto;
    padding: 0;
    
}
body{
    background-color: grey;
}
.container-form {
    margin-bottom: 3%;
    margin-top: 3%;
    width: 50%;
    height: auto;
    border-radius: 5%;
    background-color: rgb(194, 149, 207);
    padding: 3%;
}