.container-footer {
    border: solid 3px red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    }
    .icon {
        margin-left: 10%;
        padding-left: 10%;
    
    }
    a {
        color: black;
    }
    .footer-boxes {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }