.navbar-h{
    height: 80px;
    width: 100%;
    background-color: transparent;
    color: rgb(143, 10, 10);
    display: flex;
   justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    font-size: 1.2rem;
        animation-duration: 3s;
        animation-name: slidein;
        animation-iteration-count: 3;
        animation-direction: alternate;
      
      
      @keyframes slidein {
        from {
          margin-left:100%;
          width:300%
        }
      
        to {
         margin-left:0%;
         width:100%;
       }
      }
    
}
.nav-logo-h {
    text-decoration: none;
    color: white;
}
.nav-links-h{
   display: grid;
   grid-template-columns: repeat(4, auto);
    grid-row-gap:20px;
    list-style: none;
}
.nav-link-h{
margin-right: 40px;
text-decoration: none;
color: black;
transition: 0.3s all;
}

.nav-link-h:hover{
    color:rgb(143, 10, 10);
}
.nav-icon-h{
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

@media only screen and (max-width:500px) {
    .navbar-h{
        position: relative;
    }

    .nav-links-h{
        display:flex;
        flex-direction: column;
        position: absolute;
        text-align: center;
        width: 100%;
        top:80px;
        left: -100%;
        transition: 0.5s all;
        
    }
    .nav-links-h.active{
        background: grey;
        left: 0;
    }
    .nav-item-h{
        padding: 10px 0;
        border-top: 1px solid rgb(143, 10, 10);
        border-bottom: 1px solid rgb(143, 10, 10);
    }
    .nav-icon-h{
        display: flex;
    }
}
