
.card mb-3-h{
height:10% ;
width: 10% !important;

}
.card-title-h{
    font-family: monospace;
    color: white;
}
.card-text-h{
    font-family: monospace;
color: white;
}
.card-body-h{
    background-color: rgba(141, 142, 228, 0.808);
    padding: 3%;
}